.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FF6060;
  margin: 0 70px;
}

@media screen and (max-width: 426px) {
    .main_content {
      margin: 0;
    }
}
