.appartements_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 50px;
    justify-items: center;
    background-color: #F6F6F6;
    padding: 70px 0;
    border-radius: 25px;
}

.thumb {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    width: 340px;
    height: 340px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
    color: white;
    background-size: cover;
    position: relative;
}

.thumb p {
    position: absolute;
    top: 80%;
    margin-left: 15px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 18px;
    font-weight: 500;
}